/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.bla{
	-fx-background-color:white;
}
.wh{
	-fx-background-color:black;
}
.ro{
-fx-background-color:green ;
-fx-border-style:solid ;
-fx-border-color:red;
}
.bo
{
	-fx-background-color:red;
}
.Cl1{

}
.labe{
	-fx-background-color:white;

}